*{
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav *{
    color: black;
}
/* NAVBAR */
ul{
    list-style: none;
}
.logo{
    font-size: 2.5vmin;
}

/* basics */

body,html{
    overflow-x: hidden;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    
    justify-content: center;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.header-content{
    margin-bottom: 150px;
    color: black;
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}

.line{
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom:30px ;
}

.ctn{
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: black;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: black;
    background-color: transparent;
}


.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin: 0 30px;
}

.active{
    color:#fc036b ;
    text-decoration: underline;
    font-weight: bold;
}

#menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
.header-content a{
    cursor: pointer;
}
/*Events*/

.row .col p{
    text-align: justify;
}
section{
    width: 80%;
    margin: 80px auto;
}

.title{
    text-align: center;
    font-size: 4vmin;
    color: rgb(70, 83, 153);
}

.row{
    display: flex;
    align-items: center;
    width:100%;
    justify-content: space-between;
}       

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events .row{
    margin-top: 50px;
}

h4{
    font-size: 3vmin ;
    font-weight: bold;
    color: #484872;
    margin: 20px auto;
}

p{
    color:#7c7c7c ;
    padding: 0px 40px;
}

.events .ctn{
    margin-top: 30px;

}

.explore{
    width: 100%;
    height: 100vh;
    color: white;
    background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
    -webkit-animation: 10s linear 0s normal none infinite animate;
    -moz-animation: 10s linear 0s normal none infinite animate;
    -ms-animation: 10s linear 0s normal none infinite animate;
    -o-animation: 10s linear 0s normal none infinite animate;
    animation: 10s linear 0s normal none infinite animate;
    display: flex;
    align-items: center;
}
@-webkit-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
  }
   
  @-moz-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
  }
   
  @-ms-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
  }
   
  @-o-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
  }
   
  @keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
  }
  
  .explore-content{
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .explore-content h1{
    font-size: 7vmin;
  }

  .explore-content p{
    color: rgb(185, 177, 177);
  }
  
  .explore-content .ctn{
    margin-top: 40px;
  }

  .explore-content .line{
    margin-top: 2px;
    padding-top: 5px;
    margin-bottom: 50px;
  }
  

  /*Tours Section*/

  .content-col{
    width: 20%;
  }
  .image-col{
    width: 60%;
  }

  .tours .image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
  }
  .image-gallery img{
    max-width:300px;
    margin: 10px;
  }
  .content-col h1{
    font-size: 7vmin;
    color: #484872;
  }
  .content-col p{
    padding: 0;
    margin: 30px -80px;
    text-align: justify;
  }

  .content-col .line{
    margin-left: -1px;
  }

  .content .ctn{
    margin-left: -100px;
  }

    /*footer*/
  .footer{
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background-color: #484872;
    text-align: center;
  }

  .footer p{
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;
  }
/*Mobile devices*/

@media only screen and (max-width:850px){
    #menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: #484872;
        transform: translateY(-100%);
        transition: all 0.5s ease;
        border-radius: 0 0 25% 0;
    }
    .mobile-menu{
        transform: translateY(0%);
    }
    .nav-links li{
        margin: 30px auto;
    }
    /*EVENTS*/
    .row{
        flex-direction: column;
    }
    .row .col{
        margin: 20px auto;
    }
    .col .img{
        max-width: 90%;
    }
    .explore-content{
        width: 100%;
    }
    .tours .col{
        width: 100%;
    }
    .image-gallery{
        justify-content: center;
        align-items:center;
    }
    .image-gallery img{
        width: 90%;
    }
    .footer{
        padding: 10px;
    }
    .content-col p{
        padding: 0;
        margin: 30px auto;
        text-align: justify;
      }
}

img{
    transition: transform .3s ease;
}

img:hover{
    transform: scale(1.1);
}

.ctn:hover{
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px black;
}

li:hover{
    color: #fc036b;
    cursor: pointer;
}
